html,
body {
  font: 16px / 1.42em 'Open Sans', Arial, sans-serif;
  color: #221122;
  background: #fcf5e6;
  padding: 0;
  margin: 0;
  height: 100%; 
  overflow-x: hidden; 

}
 
.container {
  @include min-max(320px, 100%, 0);
}

.wrap {   
  @include min-max(177px, 1310px, 0);
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}
.inline {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
} 