
  .collections{
    margin-bottom: 135px;
  }
  
  .collections__list{
    display: flex;
  }
  
  .collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url('../img/bg/pattern.png') center center / 500px;
    position: relative;
  }
  
  .collections__item:before{
    content: ""; 
    display: block;
    position: absolute;
    height: 176%;
    width: 60%;
    top: -17%;
    left: -18%;
    background: center center / contain no-repeat;
  }
  .collections__item--type-guys:before{
    background: url('../img/collections/collection_man.png');
  }
  
  .collections__item--type-girls:before{
    background-image: url('../img/collections/collection_woman.png');
    top: -31%;
    width: 80%;
    left: -25%;
  }
  
  .collections__link {
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
    color: inherit;
  }
  
  .collections__link:hover .btn {
    background: $red;
    color: #fff;
  }
  
  .collections__title {
    font-family: $titleFont;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
  }
  
  .collections__item:last-child {
    margin-right: 0;
  }
  
  .collections__desc {
    margin-bottom: 28px;
  }

  @media(max-width: 1070px){
    
    .collections__list{
      flex-direction: column;
    }
    .collections__item--type-guys{
      margin-right: 0px;
      margin-bottom: 25px;
    }
  }

  @media(max-width: 500px){
    .collections__title{
      font-size: 40px;
    }
    .fade-slider__item--style-presents {
      .fade-slider__text {
        bottom: 66px;
        right: 46%;
      }
    }
    .lined-text {
      font-size: 20px;
  }
  }
  @media(max-width: 750px){
    .fade-slider__item--style-presents {
      .fade-slider__text {
        left: 40%;
      }
    }
  }
@media(max-width: 785px){
  .fade-slider__item--style-games{
    .fade-slider__text{
      bottom: 85px;
      .lined-text {
        font-size: 17pxx;
    }
    }

  }
}