



.footer{
    margin-bottom: 115px;
  }
  .footer__container {
    width: 1105px;
  }
  
  .site-menu{
    margin-bottom: 115px;
  }
  
  
  .site-menu__sections{
    display: flex;
    justify-content: space-between;
  }
  .site-menu__col {
    margin-right: 20px;
  } 
  
  .site-menu__col:last-child{
  margin-right: 0;
  }
  
  .site-menu__title{
    font-family: $titleFont;
    font-size: 24px;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  
  .site-menu__item {
    margin-bottom: 15px;
  }
  .site-menu__link{
    color: #773388;
    font-size: 15px;
    text-decoration: none;
  }
  
  .site-menu__link:hover{
    color: $red;
  }
  
  .site-menu__text{
    font-size: 15px;
    color: $black;
    margin-bottom: 30px;
  }
  
  .site-menu__text-row{
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  .extras{
    display: flex;
    margin-bottom: 95px;
  }
  
  .extras__col{
    margin-right: 20px;
    flex: 1;
  }
  .extras__col:last-child{
    margin-right: 0;
  }
  
  .extras__best{
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: $titleFont;
    text-transform: uppercase;
    padding: 39px 10%;
    text-decoration: none;
    display: block;
    line-height: 1;
  }
  
  .extras__col-socials{
    height: 100%;
    background: url('../img/bg/pattern.png') center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socials{
    display: flex;
  }
  .socials__item{
    margin-right: 50px;
  }
  
  .socials__item:last-child{
    margin-right: 0px;
  }
  
  .socials__item:last-child{
    margin-right: 0px;
  }
  .socials__link{
     width: 38px;
     height: 38px;
     display: block;
  }
  
  .socials__link:hover .socials_icon{
    fill: $red;
  }
  .socials__icon{
    width: 100%;
    height: 100%;
  }
  
  

  @media(max-width: 670px){
    .extras{
      flex-direction: column;
      .extras__col{
        margin-right: 0;
        height: 100px;
      }
    }
  }