.filter__item--active {
    .filter_link_description{
        color: $yellow; 
        background: $black;
      }
}
  .filter_link_description{
    padding: 17px 12px 17px;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    font-family: $titleFont;
    text-transform: uppercase;
    color: $black;
    &:hover{
        color: $yellow;
        background-color: $black;
    }
}   
  
.main__blocks{
.block__description{
    @include min-max(177px, 1310px, 0);
    display: flex;
    justify-content: space-evenly;
    border: 10px solid $yellow;
    position: relative;
    hr{
        position: absolute;
        width: 1px;
        height: 299px;
        right: 67%;
        top: -8px;
        color:#e5dece;
    }
    .left__first__block{
        max-width: 340px; 
        padding: 34px 48px;
        li{
            font-size: 15px;
            padding: 12px 15px;
            display:  inline-flex;
            align-items: center;
            flex-direction: row;
            &:nth-child(3n){
               padding-left: 22px;
            }
            svg{
                display: block;
                height: 17px;
                width: 35px;
                margin-right: 27px;
            }
        }
    }
    .right__first__block{
        max-width: 950px;
        padding: 48px 48px;
        .description__tshirt{
            font-size: 18px;
 
        }
    }
}
///table__information
.table__information{
    @include min-max(177px, 1310px, 0);
    display: flex;
    justify-content: space-evenly;
    padding: 48px 35px; 
    border: 10px solid $yellow;
    position: relative; 
    height: 634px;
    .left__second__block{
        max-width: 340px;  
        padding: 12px 15px; 
        ol{
            list-style: inherit; 
            list-style-type: decimal;
            li{
                font-size: 15px;
                padding: 12px 15px;
            }
        }   
        img{
            max-width: 252px;
            padding-bottom: 53px;
        }
    }
    .table__right{
        max-width: 740px;  
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;  
        // justify-content: center;
        position: relative;
        bottom: 48px;
        left: 39px;    
        table, th, td {
            border: 3px solid #e5dece;
          }
          th, td {
              padding: 21px;
          }
          .table__name{
              background: #f6efe0;

          }

    }

}
///table block ends
///table express starting
.express{
    @include min-max(177px, 1310px, 0);
    padding: 48px 35px; 
    border: 10px solid $yellow;
    position: relative; 
    display: flex;
    justify-content: space-evenly;
    hr{
        position: absolute;
        width: 1px;
        height: 257px;
        right: 72%;
        top: -6px;
        color: #fcf5e6;
    }
    .left__express{
        max-width: 340px;  
        position: relative;
        right: 62px;
    }
    .right__express{
        padding: 48px 35px;
        max-width: 740px; 
    }
 }///table express ends
 .description__logo{ 
    @include min-max(177px, 1310px, 0);
    padding: 48px 35px; 
    border: 10px solid $yellow;
    position: relative; 
    display: flex; 
    justify-content: space-evenly;
    hr{
        position: absolute;
        width: 1px;
        height: 206px;
        right: 72%;
        top: -6px;
        color: #fcf5e6;
    }
        .left__logo__description{
        max-width: 340px;  
        img{
        max-width: 252px;
        padding-bottom: 53px;
      }
     }
     .right__logo__description{
        max-width: 740px; 
    }
  
 }
}

 
@media(max-width: 1135px){
    .main__blocks {
        .block__description {
            hr{
                position: unset;
                width: 1px;
                height: 299px;
                right: 67%;
                top: -8px;
                color: #e5dece;
        }
      }
    }
}
@media(max-width: 785px){
  .main__blocks{
    .block__description{
        .left__first__block{
            max-width: 240px; 
            padding: 34px 48px; 
    
            ul{
 
                li{
                    font-size: 16px;
                    padding: 12px 15px;
                    display: -webkit-inline-box;
                    &:nth-child(3n){
                       padding-left: 15px;
                    }
        
                }
            }
        }
    }
  }


}
@media(max-width: 700px){
    .main__blocks{
      .block__description{
          .left__first__block{
              max-width: 240px; 
              padding: 34px 48px; 
      
              ul{
   
                  li{
                      font-size: 16px;
                      padding: 12px 15px;
                      display: -webkit-inline-box;
                      &:nth-child(3n){
                         padding-left: 15px;
                      }
          
                  }
              }
          }
          hr{
              height: 355px;
          }
      }
    }
    .main__blocks .block__description .right__first__block .description__tshirt {
        font-size: 17px;
        text-align: center;
    }
  
  }
  @media(max-width: 555px){
.main__blocks .block__description{
    display: inline-block;
}
.main__blocks .block__description hr {
    height: 1px;
    width: 400px;
}
  }