.wrapper__tshirt{
  @include min-max(177px, 1310px, 0);

.product-tshirt{
    height: 750px;
    background-color: $yellow;
    display: flex;
    margin-bottom: 135px;
    .tshirt__list{
      display: flex;
      flex-wrap: wrap;
    .left__container{
        flex-grow: 1;
        padding-top: 130px;
        min-height: 454px;
        position: relative;
        .img__item{
          position: absolute; 
          bottom: 126px;
          left: -285px;
          width: 550px;
          height: 447px;
          display: none;
        }
        .active_class{
          display: block;
        }
    } 
    .right__container{ 
        flex-grow: 1;
        height: 721px;
        position: relative;
        left: 50%;
        top: 14px;
        width: 643px;
        background: #fcf5e6;
    } 
  }
  hr{
   color:#e0d9c8;
   height: 1px;
  }
  .container__consist{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    li{
      font-size: 15px;
      padding-top: 18px; 
    }
    li:first-child{
      padding-top: 0px;
    }

  }

}
.container__iformation{
  padding:30px 28px;
  .title__main{
    font-size: 19px;
    font-weight: 800;
    color: $yellow;
    font-family: 'Open Sans';
  }
  .desc{
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 10px;
  } 
  .cost{
    background-color: #ffc92f;
    color: #000;
    font-weight: 800;
    font-size: 19px;
    padding: 15px;
    width: 82px;
    margin-top: 20px;
    display: flex;  
    justify-content: center;
    
  } 

} 
.sizes{
  display: flex;
  justify-content: space-evenly;
  padding: 32px 83px 0px 30px;
  .active{
    border: 3px solid #e0d9c8;
    padding: 18px;
    &:hover{
      background-color: $yellow;
    }
  }
  a{
    text-decoration:none;
    color: $black;
    font-weight: 700;
    font-size: 17px;

  }
  .inactive{
    color: #e0d9c8;    
    pointer-events: none;
    border: 3px solid #e0d9c8;
    padding: 18px;
  }

}
}///wrapper
.colors{ 
  display: flex; 
  padding:58px 0 0 37px;
  .shape__color{
    border-radius: 50%; 
    height: 25px;
    width: 25px; 
    margin-right: 20px;
    border: 6px solid #fff; 
    &:hover{  
      border: 5px solid $yellow;
    }
  }
  .black{
    background-color: $black;

  }
  .beige{
    background-color: #e0d9c8;
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  }
  .red{
    background-color: $red;
  }

} 
.btn__buy{
  width: 200px;
  height: 50px; 
  background-color: $red;    
  color: #fff ;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  font-family: $titleFont;
  margin: 20px 0px 0px 36px;
  letter-spacing: 3px;
  &:hover {
    background-color: $black;
  }

}
@media(max-width: 1315px){
  .right__container{
    max-width: 510px;
   }
  .wrapper__tshirt .sizes .active, .wrapper__tshirt .sizes .inactive{
    padding: 10px;
  }
}
@media(max-width: 1115px){
  .right__container{
    max-width: 503px;
   }

} 
@media(max-width: 1035px){
  .wrapper__tshirt .product-tshirt .tshirt__list .left__container .img__item{
    max-width: 519px;
    left: -7px;
  }

  .left__container{
    top: 34px;
    left: 2px;
   }
  .right__container{
    max-width: 503px;
   }
   .wrapper__tshirt .product-tshirt {
    height: auto;
    width: auto;
  }
  .wrapper__tshirt .product-tshirt .tshirt__list .right__container{
    left: 2px;
    top: -59px;
    max-width: 489px;
  }
  .wrapper__tshirt .product-tshirt .tshirt__list{
    display: inline-block;
  }
  .wrapper__tshirt {
    margin-right: 0%;
    margin-left: 0%; 
} 
} 
@media(max-width: 885px){

.wrapper__tshirt .container__iformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
}
@media(max-width: 560px){
    
  .wrapper__tshirt .container__iformation .desc { 
    font-size: 27px;
}

.wrapper__tshirt .product-tshirt .tshirt__list .right__container {
    left: 2px;
    top: -59px;
    max-width: 320px;
}
.wrapper__tshirt .sizes .active, .wrapper__tshirt .sizes .inactive {
  padding: 5px;
}

.wrapper__tshirt .sizes {
    padding: 23px 53px 0 63px;
}

.btn__buy{
  margin: 5px 0px 0px 91px;
  width: 150px;
  height: 30px;
}
.wrapper__tshirt .product-tshirt .tshirt__list .left__container .img__item {
  max-width: 350px;
  max-height: 332px; 
}
  }